*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb


*.lai
*.la
*.a
*.lib
*.so
*.dylib
*.dll

*.exe
*.out
*.app
*.dwo

build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

# Geant4 Runtime Files 
*.mac.bak
G4*.err
G4cout*.txt

# Simulation Output Data 
*.csv
*.root

*.png
*.pdf

__pycache__/
*.pyc
*.pyo

.DS_Store
Thumbs.db
